@model EntranceControlWeb.Models.DictionaryViewModel;
@{
    ViewData["Title"] = "Create Item";

}

<div class="container">
    <div class="row my-3">
        <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
        <h5 class="text-center">СОЗДАНИЕ ЗАПИСИ</h5>
    </div>
    <form class="my-4" method="post" asp-action="CreateActiv" asp-controller="Home">
        <div class="card rounded">
            <div class="card-body">
                <div class="row mb-3">
                    <label for="inputTitle" class="col-sm-4 col-form-label">Наименование статуса акстивности</label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="@Model.TitleActiv" value="@Model?.TitleActiv" class="form-control" id="inputTitle">
                        <span for="inputTitle" class="text-danger" asp-validation-for="@Model.TitleActiv"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-7">
                        <a href="@Url.Action("Dictionary", "Home")" type="button" class="btn btn-outline-primary">Назад</a>
                        <button type="submit" class="btn btn-outline-success">Сохранить изменения</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
