@{
    ViewData["Title"] = "Cabinet";

}

<div class="container">
    <div class="row my-3">
        <h3 class="text-center"><strong>CИСТЕМА КОНТРОЛЯ ДОСТУПА</strong></h3>
        <h5 class="text-center">ЛИЧНЫЙ КАБИНЕТ СОТРУДНИКА</h5>
    </div>
    <div class="row my-2">
        @if (User.Identity.IsAuthenticated)
        {
            <p>
                Вы вошли под логином @User.Identity.Name.
            </p>
            <p>
                Роль на сайте: пользователь.
            </p>
        }
    </div>
</div>

